/* Colores
#894E7B
#EA4E7F
#F2EFE3
#7DDEDB
#519A77
*/
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    background-color: #F2EFE3;
}

header {
    background-color: #894E7B;
    text-align: center;
}

.hepta {
    font-family: 'Hepta Slab', serif;
}

.hepta-bold{
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.nunito-bold{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.header-chico{
    text-align: right;
    background-color: #894E7B;
    align-items: center;
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

.nav-link {
    color: #F2EFE3;
}

.nav-item .nav-link.active{
    color: #F2EFE3;
    background-color: #519A77;
}

.nav-item .nav-link:hover{
    color: #F2EFE3;
    background-color: #EA4E7F;
}

a:hover {
    color: #F2EFE3;
}

.logo-header {
    height: 60px;
}

.barra-busqueda>a {
    text-decoration: none;
}

.lnr {
    fill: #F2EFE3;
    width: 40px;
    height: 40px;
}

.carrusel {
    max-width: 1100px;
    min-width: 40%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 40%;
    max-width: 300px;
}

.form-control{
    width: 300px;
}

.registro {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 40%;
    max-width: 300px;
}

.stretched-link {
    color: #EA4E7F;
}

.stretched-link:hover {
    color: #894E7B;
}

.btn-primary {
    background-color: #894E7B;
}

.btn-primary:hover {
    background-color: #EA4E7F;
}

.autores {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 40%
}

.autor {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.catalogo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 40%;
}

.portada {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.badge {
    width: 53px;
}

.badge-autor{
    background-color: #EA4E7F;
    color: #F2EFE3;
}

.badge-titulo{
    background-color: #519A77;
    color: #F2EFE3;
}

.badge-precio{
    background-color: #894E7B;
    color: #F2EFE3;
}

.error {
    color: crimson;
    font-size: 10pt;
}

.card {
    max-width: 300px;
}

.card-text {
    word-wrap: break-word;
}