{% extends 'appEditorial/base.html' %}

{% load staticfiles %}

{% block nav_class_about %}active{% endblock %}

{% block content %}
    <div class="subheader hepta-bold">
        <h1 class="titulo">¿Quiénes somos?</h1>
    </div>
    <div class="parrafo hepta">
        <p>Somos una editorial que nace en el año 2019, con el deseo de
        contribuir a la difusión de la lectura y la apreciación por los libros. </p>
        <p>Asimismo, queremos fomentar el desarrollo del pensamiento creativo de niños y jóvenes mediante el aporte de diversos colaboradores y autores que ponen a disposición su arduo trabajo.</p>

        <p>Ponemos toda nuestra dedicación en la oferta de nuestro catálogo, cuidando el trabajo de autores e ilustradores. De esta manera, nos aseguramos de ofrecer productos de calidad a todos nuestros destinatarios.</p>

        <p>Somos un equipo que nos une la pasión de la lectura y disfruta con el corazón cada libro que pasa por nuestras manos. Esperamos que cada persona que vea nuestro trabajo se llene de ese sentimiento.</p>
    </div>
{% endblock%}}
