{% extends 'appEditorial/base.html' %}
{% load staticfiles %}
{% block nav_class_autores %}active{% endblock %}
{% block content %}
    <div class="subheader hepta-bold">
        <h1 class="titulo">Nuestros<br>Autores</h1>
    </div>
    <div class="autores hepta">
        <div class="d-flex flex-wrap justify-content-center">
            <!-- Autor #1 -->
            {% for autor in autores %}
                <div class="d-flex flex-column p-2">
                    <div class="card scale-up-center">
                        <img class="autor card-img-top" src="{{ autor.foto.url }}" alt="Foto del autor {{ autor }} - {{ autor.foto.url }}">
                        <div class="card-body">{{ autor }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
