{% extends 'appRegistro/base.html' %}
{% load staticfiles %}
{% block titulo %}Iniciar sesion{% endblock titulo %}
{% block nav_class_login %}active{% endblock nav_class_login %}
{% block content %}
	<div class="d-flex flex-row gestion">
		<div class="p-2 flex-fill nunito-bold libros" onclick="location.href={% url 'appEditorial:agregar_libro' %}">
			Libros <br>
			<span  style="font-size: 72px" >
				<i class="fas fa-book"></i>
			</span>
		</div>
		<div class="p-2 flex-fill nunito-bold autores" onclick="location.href={% url 'appEditorial:agregar_autor' %}">
			Autores <br>
			<span  style="font-size: 72px" >
				<i class="fas fa-pen-fancy"></i>
			</span>
		</div>
		<div class="p-2 flex-fill nunito-bold editoriales" onclick="location.href={% url 'appEditorial:agregar_editorial' %}">
			Editoriales <br>
			<span  style="font-size: 72px" >
				<i class="fas fa-glasses"></i>
			</span>
		</div>
	</div>
{% endblock content %}