/* Colores
#92374d
#193944
#ecebe4
#ed6a5a
#e4572e
*/
@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Global*/
html, body {
    height: 100%;
}

/* Fuentes */

.hepta {
    font-family: 'Hepta Slab', serif;
}

.hepta-bold {
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.nunito-bold {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* Header */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    background-color: #ecebe4;
}

header {
    text-align: center;
}


.header-chico {
    background-color: #92374d;
    text-align: right;
    align-items: center;
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}
/* botones header */

.nav-link {
    color: #ecebe4;
}

.nav-item .nav-link:hover {
    color: #022632;
    background-color: #ecebe4;
}

.nav-item .nav-link.active {
    color: #ecebe4;
    background-color: #193944;
}

.nav-item .nav-link.active:hover {
    color: #193944;
    background-color: #ecebe4;
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 10px;
    color: #193944;
}

.icon .active{
    position: absolute;
    right: 0;
    top: 0;
    color: #193944;
}

.fas {
    color: #193944;
}

/* /botones header */

a:hover {
    color: #F2EFE3;
}

.logo-header {
    fill: #25565D;
    height: 60px;
}

.nav-busqueda{
    padding: 10px;
}

.barra-busqueda {
    text-decoration: none;
}

.lnr {
    fill: #ecebe4;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.hamburguesa {
    display: none;
}

.rrss-logo {
    color: #ecebe4;
}

 /* Contenedores */
.parrafo {
    padding: 80px 400px 0px 400px;
    text-align: justify;
}

#contenedor {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 130px;
}

/* Formularios */

#form-contacto {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .nav-item {
        display: none;
    }

    .hamburguesa {
        float: right;
        display: block;
    }

    .nav-busqueda {
        width: 100%;
        padding: 0;
        word-spacing: 20px;
        border-top: 2px dotted #F2EFE3;
    }

    .barra-iconos{
        padding-top: 7px;
        padding-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .parrafo {
        padding: 20px 50px 20px 50px;
        text-align: justify;
    }
}

@media screen and (max-width: 600px) {
    .nav-item.responsive {
        display: flex;
        text-align: left;
        min-width: 100%;
    }
    .nav-item.responsive .nav-link.active{
        min-width: 100%;
        background-color: #193944;
        color: #ecebe4;
    }
    .nav-item.responsive .nav-link {
        min-width: 100%;
        background-color: #ecebe4;
        color: #193944;
    }
    .barra-busqueda {
        text-decoration: none;
        max-width: 100%;
    }
}

.carrusel {
    max-width: 1100px;
    min-width: 40%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 40%;
    max-width: 300px;
    min-height: 75vh;
}

.form-control {
    width: 300px;
}

.registro {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 40%;
    max-width: 300px;
    min-height: 75vh;
}

.stretched-link {
    color: #ed6a5a;
}

.stretched-link:hover {
    color: #193944;
}

.btn-primary {
    background-color: #193944;
}

.btn-primary:hover {
    background-color: #92374d;
}

.autores {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 40%
}

.autor {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.catalogo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 40%;
}

.portada {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.badge {
    width: 53px;
}

.badge-autor {
    background-color: #e4572e;
    color: #F2EFE3;
}

.badge-titulo {
    background-color: #92374d;
    color: #F2EFE3;
}

.badge-precio {
    background-color: #ed6a5a;
    color: #F2EFE3;
}

.error {
    color: crimson;
    font-size: 10pt;
}

.card {
    max-width: 300px;
}

.card-text {
    word-wrap: break-word;
}

.subheader {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    height: 180px;
    background-color: #193944;
}

.subheader .titulo {
    padding: 45px;
    color: #ecebe4;
    word-wrap: break-word;
    margin-bottom: 0;
}

.footer {
    background-color: #92374d;
    align-items: center;
    position: relative;
    height: 130px;
    margin-top: -130px;
    clear: both;
}

.solo-footer {
    background-color: #92374d;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#logo-footer {
    height: 90%;
}

.logo-footer {
    margin-left: auto;
    margin-right: auto;
}

.redes {
    margin-left: auto;
    margin-right: auto;
}

.destacado {
    color: #e4572e;
    font-weight: bold;
}


