@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Global*/
html, body {
    height: 100%;
}

/* Colores */
:root {
    --light: #b9546d;
    --dark: #193944;
    --light_white: #ecebe4;
    --light_white_bright: #f4f4f0;
    --accent_1: #ed6a5a;
    --accent_2: #25ced1;
}


/* Fuentes */

.hepta {
    font-family: 'Hepta Slab', serif;
}

.hepta-bold {
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.nunito-bold {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

/* Header */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    background-color: var(--light_white);
}

header {
    text-align: center;
}


.header-chico {
    background-color: var(--light);
    text-align: right;
    align-items: center;
    font-family: 'Hepta Slab', serif;
    font-weight: bold;
}

.nav-gestion {
    background-color: var(--light_white_bright);
}


/* botones nav gestion*/

#boton-agregar, #boton-editar, #boton-eliminar {
    font-family: 'Hepta Slab', serif;
}

#boton-agregar .nav-link, #boton-editar .nav-link, #boton-eliminar .nav-link {
    color: var(--dark);
}

#boton-agregar .nav-link:hover, #boton-editar .nav-link:hover, #boton-eliminar .nav-link:hover {
    color: var(--light);
}

#boton-agregar .nav-link.active, #boton-editar .nav-link.active, #boton-eliminar .nav-link.active {
    color: var(--light);
    background-color: var(--light_white);
}
/* botones header */

.nav-link {
    color: var(--light_white);
}

.nav-item .nav-link:hover {
    color: var(--dark);
    background-color: var(--light_white);
}

.nav-item .nav-link.active {
    color: var(--light_white);
    background-color: var(--dark);
}

.nav-item .nav-link.active:hover {
    color: var(--dark);
    background-color: var(--light_white);
}

.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 10px;
    color: var(--dark);
}

.icon .active{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--dark);
}

.fas {
    color: var(--dark);
}

/* /botones header */

a:hover {
    color: var(--light_white);
}

.logo-header {
    fill: var(--dark);
    height: 60px;
}

.nav-busqueda{
    padding: 10px;
}

.barra-busqueda {
    text-decoration: none;
}

.boton-nav {
    color: var(--light_white);
}

.lnr {
    fill: var(--light_white);
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.hamburguesa {
    display: none;
}

.rrss-logo {
    color: var(--light_white);
}

 /* Contenedores */
.parrafo {
    padding: 80px 400px 0px 400px;
    text-align: justify;
}

.contenedor {
    background-color: var(--light_white);
    min-height: 100%;
    padding-bottom: -130px;
}

#contenedor-dos {
    min-height: 100%;
    padding-bottom: -130px;
}

#main {
    overflow: auto;
}

#bienvenida {
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-bottom: 130px;
}

.desc {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

#titulo-registro {
    padding-top: 40px;
    font-size: 18px;
}

/* Formularios */

#form-contacto {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.form-libro {
    max-width: 50vw;
    padding-left: 5vh;
}

.form-registro {
    min-height: 76vh;
    padding-top: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.buscador {
    padding-left: 20px;
}

@media screen and (max-width: 600px) {
    .nav-item {
        display: none;
    }

    .hamburguesa {
        float: right;
        display: block;
    }

    .nav-busqueda {
        width: 100%;
        padding: 0;
        word-spacing: 20px;
        border-top: 2px dotted var(--light_white);
    }

    .barra-iconos{
        padding-top: 7px;
        padding-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
    }

    .parrafo {
        padding: 20px 50px 20px 50px;
        text-align: justify;
    }
}

@media screen and (max-width: 600px) {
    .nav-item.responsive {
        display: flex;
        text-align: left;
        min-width: 100%;
    }
    .nav-item.responsive .nav-link.active{
        min-width: 100%;
        background-color: var(--dark);
        color: var(--light_white);
    }
    .nav-item.responsive .nav-link {
        min-width: 100%;
        background-color: var(--light_white);
        color: var(--dark);
    }
    .barra-busqueda {
        text-decoration: none;
        max-width: 100%;
    }
}

.carrusel {
    max-width: 1100px;
    min-width: 40%;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
}

.login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 40%;
    max-width: 300px;
    min-height: 75vh;
    padding-bottom: -130px;
}

.form-control {
    width: 300px;
}

.registro {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    min-width: 40%;
    max-width: 300px;
    min-height: 75vh;
}

.stretched-link {
    color: #ed6a5a;
}

.stretched-link:hover {
    color: var(--dark);
}

.btn-primary {
    background-color: var(--dark);
}

.btn-primary:hover {
    background-color: var(--light);
}

.autores {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 40%;
}

.autor {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.catalogo {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    min-width: 40%;
}

.portada {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.badge {
    width: 53px;
}

.badge-autor {
    background-color: var(--accent_2);
    color: var(--light_white);
}

.badge-titulo {
    background-color: var(--light);
    color: var(--light_white);
}

.badge-precio {
    background-color: var(--accent_1);
    color: var(--light_white);
}

.error {
    color: crimson;
    font-size: 10pt;
}

.card {
    max-width: 300px;
}

.card-text {
    word-wrap: break-word;
}

.subheader {
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    align-items: center;
    height: 180px;
    background-color: var(--dark);
    color: var(--light_white);
}

.mensaje {
    background-color: var(--accent_2);
    color: var(--light_white);
    align-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.subheader .titulo {
    padding: 45px;
    color: var(--light_white);
    word-wrap: break-word;
    margin-bottom: 0;
}

.footer {
    background-color: var(--light);
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 130px;
}

.solo-footer {
    background-color: var(--light);
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#logo-footer {
    height: 90%;
}

.logo-footer {
    margin-left: auto;
    margin-right: auto;
}

.redes {
    margin-left: auto;
    margin-right: auto;
}

.destacado {
    color: var(--accent_1);
    font-weight: bold;
}

.gestion {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
}

.gestion .libros {
    vertical-align: bottom;
    background-color: var(--dark);
    color: var(--light_white);
    font-size: 24px;
    text-align: center;
}

.gestion .autores {
    vertical-align: bottom;
    background-color: var(--dark);
    color: var(--light_white);
    font-size: 24px;
    text-align: center;
}

.gestion .editoriales {
    vertical-align: bottom;
    background-color: var(--dark);
    color: var(--light_white);
    font-size: 24px;
    text-align: center;
}

.gestion .libros:hover {
    background-color: var(--accent_1);
    -webkit-animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both
}

.gestion .autores:hover {
    background-color: var(--accent_1);
    -webkit-animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both
}

.gestion .editoriales:hover {
    background-color: var(--accent_1);
        -webkit-animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both
}

.datepicker {
    display: inline;
    width: 100px;
}

.form-busqueda {
    padding-left: 100px;
    display: block;
    align-self: center;
}

.btn-editar{
    font-size: 20px;
}

.btn-editar:hover {
    color: var(--dark);
}

.btn-eliminar{
    font-size: 20px;
    color: var(--light);
}

.btn-eliminar:hover {
    color: var(--dark);
}


/* --- ANIMACIONES --- */

.slide-top{-webkit-animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both;animation:slide-top .6s cubic-bezier(.25,.46,.45,.94) both}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-18 12:54:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}25%{-webkit-transform:translateY(-25px);transform:translateY(-25px)}}@keyframes slide-top{0%{-webkit-transform:translateY(0);transform:translateY(0)}25%{-webkit-transform:translateY(-25px);transform:translateY(-25px)}}
