{% extends 'appRegistro/base.html' %}
{% load staticfiles %}
{% block titulo %}Solicitud cambio contraseña{% endblock titulo %}
{% block content %}
    <p>
        Si el correo que ingresaste es valido, dentro de poco recibiras un mensaje con las instrucciones para el cambio de contraseña.
    </p>
    <p>
        Si no ha recibido un correo, por favor asegurese de que ha ingresado la direccion con la que se registro. Asegurese tambien de revisar su carpeta
        de spam.
    </p>
{% endblock %}
