{% extends 'appRegistro/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block titulo %}Recuperar Contraseña{% endblock titulo %}
{% block nav_class_login %}active{% endblock nav_class_login %}

{% block content %}
<div class="login">
  {% if validlink %}
    <h3>Cambiar Contraseña</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <button class="btn btn-primary" type="submit">
        Cambiar Contraseña
      </button>
    </form>
  {% else %}
    <p>
      El link de reseteo de contraseña fue invalido, probablemente porque ya ha sido usado.
      Por favor vuelva a solicitar un reseteo de contraseña.
    </p>
  {% endif %}
</div>
{% endblock %}